<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="mb-5">
            <h1>Getting started with the Standard dialects in 5 minutes</h1>
            <h2>(5분안에 타임리프 표준 문법 익히기)</h2>
            <p>타임리프 파일은 기본적으로 resources/template/ 안에 위치해야 한다.</p>
        </div>
        <h3> 1. ${...} Variable expressions (가변식)</h3>
        <div class="mt-3">
            <h5>1) 모델에 담겨있는 문자열 가져오기</h5>
            <p th:text="${name} + '님 환영합니다'"></p>
        </div>

        <!-- map 에 있는 아이템 꺼내기 -->
        <div class="mt-3">
            <h5>2) Map 에 있는 아이템 꺼내기. ${객체.필드명}</h5>
            <table border="1">
                <thead>
                <th>나이</th>
                <th>이름</th>
                <th>주소</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${map.age}"></td>
                    <td th:text="${map.name}"></td>
                    <td th:text="${map.addr}"></td>
                </tr>
                </tbody>
            </table>

            <!-- 나이가 20인 사람만 출력하기 -->
            <table border="1" th:if="${map.age == 10}">
                <thead>
                <th>나이</th>
                <th>이름</th>
                <th>주소</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${map.age}"></td>
                    <td th:text="${map.name}"></td>
                    <td th:text="${map.addr}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-3">
            <h5>3) List 에 들어있는 map을 순회하면서 꺼내기. (th:each)</h5>
            <table border="1">
                <thead>
                    <th>나이</th>
                    <th>이름</th>
                    <th>주소</th>
                </thead>
                <tbody>
                    <tr th:each="item : ${listMap}"> <!-- th:each="아이템 : ${리스트객체}" 형식 -->
                        <td th:text="${item.age}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.addr}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-3">
            <h5>4) 조건문 활용하기 (th:if / th:switch ~ th:case)</h5>
            <!-- if -->
            <div th:if="${map.age >= 10}">
                <p th:text="${map.name + '님은 ' + map.age + '살 입니다'}"></p>
            </div>

            <!-- unless 는 결과가 참이 아닌경우. 즉, 거짓인 경우가 참이 된다. 그러므로 아래는 map.age 가 10이면 출력되지 않는다.-->
            <p th:unless="${map.age == 10}" th:text="${map.name + '님은 10 살이 아닙니다'}">비어 있는 리스트</p>

            <!-- list + if -->
            <table border="1">
                <thead>
                    <th>나이</th>
                    <th>이름</th>
                    <th>주소</th>
                </thead>
                <tbody>
                <tr th:each="item : ${listMap}" th:if="${item.age >= 20}"> <!-- 아이템 중 나이가 20 이상인 사람들만 출력하기 -->
                    <td th:text="${item.age}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.addr}"></td>
                </tr>
                </tbody>
            </table>

            <!-- switch case -->
            <div th:each="item : ${listMap}" th:switch="${item.age}">
                <p th:case="10" th:text="${item.age + '살 입니다'}"></p>
                <p th:case="30" th:text="${item.age + '살 입니다'}"></p>
            </div>
        </div>

        <hr/>
        <h3>2. *{...} Selection expressions (선택식)</h3>
        <p>선택식은 변수식인 ${...} 에서 바로 직전의 선택된 객체에서 실행되는 식을 말한다.</p>
        <div>
            <table border="1">
                <thead>
                <th>나이</th>
                <th>이름</th>
                <th>주소</th>
                </thead>
                <tbody>
                <tr th:object="${map}">        <!-- 변수식으로 객체를 선택한다. -->
                    <td th:text="*{age}"></td> <!-- *{필드명} 으로 표현. * ${map.age} 과 동일한 역할을 한다 -->
                    <td th:text="*{name}"></td>
                    <td th:text="*{addr}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr/>
        <h3>3. #{...} Message(i18n) expressions (메시지식)</h3>
        <p>messages.properties 에서 지정한 메시지를 가져올 수 있다.</p>
        <p>messages_en.properties - 영어</p>
        <p>messages_ko.properties - 한국어</p>
        <div>
            <table border="1">
                <thead>
                <th th:text="#{message.age}">나이</th>
                <th th:text="#{message.name}">이름</th>
                <th th:text="#{message.addr}">주소</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${map.age}"></td>
                    <td th:text="${map.name}"></td>
                    <td th:text="${map.addr}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr/>
        <h3>4. @{...} Link(URL) expressions (링크식)</h3>
        <p>컨텍스트를 포함한 URL 이 만들어진다</p>
        <a th:href="@{/detail}">Detail</a>

        <p>이렇게 절대적인 URL 을 작성할 수 도 있다. https:// http:// 포함하면 절대 URL 이 된다.</p>
        <a th:href="@{https://naver.com}">뇌입원</a>

        <hr/>
        <h3>5. ~{...} Fragment expressions (파편식)</h3>
        <p>파편식... 이라는 번역이 좀 이상한데, 다른 html 파일에서 th:fragment 속성에 정의된 값을 th:insert 혹은 th:replace 로 가져온다.</p>
        <div th:insert="~{detail::frgDiv}"></div>
        <div th:replace="~{detail::frgDiv_2}"></div>

        <hr/>
        <h3>6. 리터럴</h3>
        <p th:text="${10 + 10}"></p>
    </div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>