<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="mb-5">
            <h1>Getting started with the Standard dialects in 5 minutes</h1>
            <h2>(5분안에 타임리프 표준 문법 익히기)</h2>
            <p>타임리프 파일은 기본적으로 resources/template/ 안에 위치해야 한다.</p>
        </div>
        <h3> 1. ${...} Variable expressions (변수식)</h3>
        <div class="mt-3">
            <h5>1) 모델에 담겨있는 문자열 가져오기</h5>
            <p th:text="${name} + '님 환영합니다'"></p>
        </div>

        <!-- map 에 있는 아이템 꺼내기 -->
        <div class="mt-3">
            <h5>2) Map 에 있는 아이템 꺼내기. ${객체.속성이름}</h5>
            <table border="1">
                <thead>
                <th>나이</th>
                <th>이름</th>
                <th>주소</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${map.age}"></td>
                    <td th:text="${map.name}"></td>
                    <td th:text="${map.addr}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="mt-3">
            <h5>3) List 에 들어있는 map을 순회하면서 꺼내기.</h5>
            <table border="1">
                <thead>
                    <th>나이</th>
                    <th>이름</th>
                    <th>주소</th>
                </thead>
                <tbody>
                    <tr th:each="item : ${listMap}">
                        <td th:text="${item.age}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.addr}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr/>
        <h3>2. *{...} Selection expressions (선택식)</h3>
        <div>
            <table border="1">
                <thead>
                <th>나이</th>
                <th>이름</th>
                <th>주소</th>
                </thead>
                <tbody>
                <tr th:object="${map}">
                    <td th:text="*{age}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{addr}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr/>
        <h3>3. #{...} Message(i18n) expressions (메시지식)</h3>
        <p>messages.properties 에서 지정한 메시지를 가져올 수 있다.</p>
        <p>messages_en.properties - 영어</p>
        <p>messages_ko.properties - 한국어</p>
        <div>
            <table border="1">
                <thead>
                <th th:text="#{message.age}">나이</th>
                <th th:text="#{message.name}">이름</th>
                <th th:text="#{message.addr}">주소</th>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${map.age}"></td>
                    <td th:text="${map.name}"></td>
                    <td th:text="${map.addr}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <hr/>
        <h3>4. @{...} Link(URL) expressions (링크식)</h3>
        <a th:href="@{/detail}">Detail</a>

        <hr/>
        <h3>5. ~{...} Fragment expressions (파편식)</h3>
        <p>파편식... 이라는 번역이 좀 이상한데, 다른 html 파일에서 th:fragment 속성에 정의된 값을 th:insert 혹은 th:replace 로 가져온다.</p>
        <div th:insert="~{detail::frgDiv}"></div>
        <div th:replace="~{detail::frgDiv_2}"></div>

        <hr/>
        <h3>6. 리터럴</h3>
        <p th:text="${10 + 10}"></p>
    </div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>